body {
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(ghana.jpg) no-repeat center center/cover;
}

.par {
  color:rgb(0, 0, 0);
  font-family: 'EB Garamond', serif;
  font-size:1.5em;
  line-height: 1.1;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size:4.8em;
  text-align:center;

}

.gen {
  color:rgb(0, 0, 0);
  font-family: 'EB Garamond', serif;
  font-size:1.5em;
} 

label {
  font-size:1.5em;
  color: white;
}

form {
  width:40%;
}

a {
  color:white;
}

.btn btn-outline-info btn-lg {
  color:white;
}

#output {
  font-size:1.5em;
  border:2px solid rgba(151, 151, 151, 0.6);
  text-shadow: 2px 2px 4px #000000;
  background-color: sandybrown;
}
